In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
import os, shutil
list_rubrics = os.listdir('./NFAC2020_ReturnedRubrics_061820')

In [3]:
dataframe_pavol = pd.read_excel('./061820_NFAC2020_JudgingRecords.xlsx')
disqualified = dataframe_pavol[dataframe_pavol["Eligible?" ] == "DISQUALIFIED"]
disqualified_list = disqualified['trackingNumber'].to_list()
print(disqualified_list)

['SC013713FH', 'SC013794FH', 'SC013983FJ', 'SC013992FJ', 'SC014064FK', 'SC014037FK']

In [4]:
employee_type = dataframe_pavol.set_index('trackingNumber').to_dict()['Employee Type']

In [5]:
scores_df_original = pd.DataFrame()
scores_df = pd.DataFrame()

submitted_judges = {}

for rubric in list_rubrics:
    if rubric.endswith('.xlsx'):
        judge = rubric.split('_')[0]

        if judge == 'SC031452FE':
            judge = 'SC013452FE'
        submitted_judges[judge] = []

        df = pd.read_excel('./NFAC2020_ReturnedRubrics_061820/%s' % rubric, skiprows = 7, usecols='L:U')
        presenters = df.dropna(axis = 1, how='all').columns
        new_presenters = []
        for presenter in list(presenters):
            presenter_orig = presenter
            if 'S' in presenter: ###
                presenter = presenter.lstrip(presenter[0: presenter.find('S')]) ###
            if presenter.startswith('\xa0'):
                presenter = presenter.strip('\xa0')
            if presenter.startswith('SCO'): ###
                presenter = presenter.replace('SCO', 'SC0')
            if not presenter.startswith('SC0'):
                presenter = presenter.replace('SC', 'SC0')
            if not presenter.startswith('SC01'):
                presenter = presenter.replace('SC0', 'SC01')
            if not presenter[-2:].isupper():
                presenter = presenter.replace(presenter[-2:], presenter[-2:].upper())
            presenter = presenter[0:10]
            submitted_judges[judge].append(presenter)
            new_presenters.append(presenter)

        scores = df.dropna(axis = 1, how='all').iloc[[-1]].values
        scores_df_original = pd.concat([scores_df_original, pd.DataFrame(data = scores, columns = new_presenters, index=[judge])], axis = 0, sort = False)

In [6]:
scores_df = pd.DataFrame()

for column in scores_df_original.columns.to_list():
    if column not in disqualified_list and column.startswith('SC0'):
        dropped_column = scores_df_original[column].dropna().reset_index(drop=True, inplace=False)
        sorted_scores = dropped_column.sort_values(ascending=False).reset_index(drop=True, inplace=False)
        scores_df = pd.concat([scores_df, sorted_scores], axis =1)

In [7]:
from collections import Counter

judges_per_presenter = Counter(scores_df[scores_df.notnull()].count().to_list())
print(judges_per_presenter)
number_judges = [i[0] for i in judges_per_presenter.items()]
number_judges.sort(reverse=True)
max_judges = number_judges[0]
print(max_judges)

Counter({6: 37, 5: 24, 4: 4})
6

In [8]:
judge_number = 3
mean = scores_df.iloc[:judge_number, :].mean()
#maximum = scores_df.iloc[:max_judges, :].max()
#minimum = scores_df.iloc[:max_judges, :].min()
#summatory = scores_df.iloc[:max_judges, :].sum()
#std = scores_df.iloc[:max_judges, :].std()
#count = scores_df[scores_df.iloc[:max_judges, :].notnull()].count()
#quartile1 = scores_df.iloc[:max_judges, :].quantile(q=0.25)
#quartile3 = scores_df.iloc[:max_judges, :].quantile(q=0.75)
#IQdistance = quartile3 - quartile1

In [9]:
scores_df.loc['mean'] = mean
#scores_df.loc['max'] = maximum
#scores_df.loc['min'] = minimum
#scores_df.loc['sum'] = summatory
#scores_df.loc['count'] = count
#scores_df.loc['std'] = std
#scores_df.loc['quartile1'] = quartile1
#scores_df.loc['quartile3'] = quartile3
#scores_df.loc['IQdistance'] = IQdistance

In [10]:
#lower_std_cutoff = scores_df.loc['mean'] - 1.5*scores_df.loc['std']
#higher_std_cutoff = scores_df.loc['mean'] + 1.5*scores_df.loc['std']
#new_std = scores_df[(scores_df.iloc[:max_judges, :] > lower_std_cutoff) & (scores_df.iloc[:max_judges, :] < higher_std_cutoff)]
#count_new_std = new_std[new_std.iloc[:max_judges, :].notnull()].count()
#mean_new_std = new_std.iloc[:max_judges, :].mean()
#print(Counter(count_new_std.to_list()))

In [11]:
#scores_df.loc['new mean STD'] = mean_new_std
#scores_df.loc['new count'] = count_new_std

In [12]:
#lower_IQ_cutoff = scores_df.loc['quartile1'] - 1.5*scores_df.loc['IQdistance']
#higher_IQ_cutoff = scores_df.loc['quartile3'] + 1.5*scores_df.loc['IQdistance']
#new_IQ = scores_df[(scores_df.iloc[:max_judges, :] > lower_IQ_cutoff) & (scores_df.iloc[:max_judges, :] < higher_IQ_cutoff)]
#count_new_IQ = new_IQ[new_IQ.iloc[:max_judges, :].notnull()].count()
#mean_new_IQ = new_IQ.iloc[:max_judges, :].mean()
#print(Counter(count_new_IQ.to_list()))

In [13]:
#scores_df.loc['new mean IQ'] = mean_new_IQ
#scores_df.loc['new count IQ'] = count_new_IQ

In [14]:
#scores_df.loc['mean_noextremes'] = 0
#scores_df.loc['mean_noextremes654'] = np.where((scores_df.loc['count'] == 6) , ((scores_df.loc['sum'])-(scores_df.loc['max'])-(scores_df.loc['min']))/((scores_df.loc['count'])-2), np.nan)
#scores_df.loc['mean_noextremes654'] = np.where((scores_df.loc['count'] == 5) , (scores_df.loc['sum'] - scores_df.loc['min']) / (scores_df.loc['count']-1), scores_df.loc['mean_noextremes654'])
#scores_df.loc['mean_noextremes654'] = np.where((scores_df.loc['count'] == 4) , scores_df.loc['mean'], scores_df.loc['mean_noextremes654'])
#scores_df.loc['mean_noextremes'] = ((scores_df.loc['sum'])-(scores_df.loc['max'])-(scores_df.loc['min']))/((scores_df.loc['count'])-2)

In [15]:
for column in scores_df.columns.to_list():
    scores_df.loc['Employee Type', column] = employee_type[column]

In [16]:
# first8mean = scores_df.sort_values(axis=1, by = 'mean', ascending = False)
# first8mean_names = first8mean.iloc[:, :8].columns.to_list()
# print(first8mean_names)

['SC013704FH', 'SC014055FK', 'SC013587FF', 'SC013956FJ', 'SC013884FI', 'SC013920FJ', 'SC013461FE', 'SC013596FF']

In [17]:
#first8newmeanSTD = scores_df.sort_values(axis=1, by = 'new mean STD', ascending = False)
#first8newmeanSTD_names = first8newmeanSTD.iloc[:, :8].columns.to_list()
#print(first8newmeanSTD_names)

In [18]:
#first8newmeanIQ = scores_df.sort_values(axis=1, by = 'new mean IQ', ascending = False)
#first8newmeanIQ_names = first8newmeanIQ.iloc[:, :8].columns.to_list()
#print(first8newmeanIQ_names)

In [19]:
#first8mean_noextremes = scores_df.sort_values(axis=1, by = 'mean_noextremes', ascending = False)
#first8mean_noextremes_names = first8mean_noextremes.iloc[:, :8].columns.to_list()
#print(first8mean_noextremes_names)

In [20]:
#first8mean_noextremes654 = scores_df.sort_values(axis=1, by = 'mean_noextremes654', ascending = False)
#first8mean_noextremes654_names = first8mean_noextremes654.iloc[:, :8].columns.to_list()
#print(first8mean_noextremes654_names)

In [21]:
#print([i for i in first8mean_names if i in first8newmeanSTD_names])
#print([i for i in first8mean_names if i not in first8newmeanSTD_names])
#print([i for i in first8newmeanSTD_names if i not in first8mean_names])
#print([i for i in first8mean_names if i in first8newmeanIQ_names])
#print([i for i in first8mean_names if i not in first8newmeanIQ_names])
#print([i for i in first8newmeanIQ_names if i not in first8mean_names])
#print([i for i in first8mean_names if i in first8mean_noextremes_names])
#print([i for i in first8mean_names if i not in first8mean_noextremes_names])
#print([i for i in first8mean_noextremes_names if i not in first8mean_names])
#print([i for i in first8mean_names if i in first8mean_noextremes654_names])
#print([i for i in first8mean_names if i not in first8mean_noextremes654_names])
#print([i for i in first8mean_noextremes654_names if i not in first8mean_names])

In [22]:
# writer = pd.ExcelWriter('Scores.xlsx', engine='xlsxwriter')

# first8mean.to_excel(writer, sheet_name='Mean')
#first8newmeanSTD.to_excel(writer, sheet_name='Mean Interval 1.5STD')
#first8newmeanIQ.to_excel(writer, sheet_name='Mean Interval 1.5IQ')
#first8mean_noextremes.to_excel(writer, sheet_name='Mean No Extremes')
#first8mean_noextremes654.to_excel(writer, sheet_name='Mean No Min e-o max')

# writer.save()

In [83]:
new_scores_df = scores_df.loc[['Employee Type', 'mean', 3]].transpose()
new_scores_df = new_scores_df.rename(columns={3: 'Tiebreaker'})
postdoc_df = new_scores_df.loc[(new_scores_df['Employee Type'] == 'Post Doctoral Fellow') |\
                               (new_scores_df['Employee Type'] == 'Research Fellow') |\
                               (new_scores_df['Employee Type'] == 'Clinical Fellow')]
postdoc_df = postdoc_df.sort_values(['mean', 'Tiebreaker'], ascending=[False, False])

postbac_predoc_df = new_scores_df.loc[(new_scores_df['Employee Type'] != 'Post Doctoral Fellow') &\
                               (new_scores_df['Employee Type'] != 'Research Fellow') &\
                               (new_scores_df['Employee Type'] != 'Clinical Fellow')]
postbac_predoc_df = postbac_predoc_df.sort_values(['mean', 'Tiebreaker'], ascending=[False, False])
new_scores_df = pd.concat([postdoc_df, postbac_predoc_df])

In [84]:
writer = pd.ExcelWriter('Scores.xlsx', engine='xlsxwriter')
new_scores_df.to_excel(writer, sheet_name = 'Scores')
writer.save()

                        Employee Type     mean Tiebreaker
SC013704FH       Post Doctoral Fellow       43         40
SC014055FK       Post Doctoral Fellow  42.3333         34
SC013587FF       Post Doctoral Fellow       41         36
SC013956FJ       Post Doctoral Fellow  40.3333         39
SC013461FE       Post Doctoral Fellow       40         37
...                               ...      ...        ...
SC013740FH          IRTA pre-doctoral       33         29
SC013893FI          IRTA pre-doctoral  32.3333         26
SC013812FI  Post Baccalaureate Fellow  30.3333         18
SC013515FF          IRTA pre-doctoral       29         19
SC013938FJ  Post Baccalaureate Fellow  25.3333         21

[65 rows x 3 columns]

In [79]:
print(len(postdoc_df)/len(new_scores_df), len(postbac_predoc_df)/len(new_scores_df))

0.7538461538461538 0.24615384615384617